[ ca ]
default_ca = ca_default

[ ca_default ]
dir = .
database = ${dir}/database/pivi-gen3-index.txt 
unique_subject = no
new_certs_dir = .
private_key = ${dir}/pem/ICAM_Test_Card_PIV-I_Signing_CA_-_gold_gen3.private.pem 
certificate = ${dir}/pem/ICAM_Test_Card_PIV-I_Signing_CA_-_gold_gen3.crt 
name_opt = ca_default
x509_extensions = ee_ext
default_days = 365 
default_md = sha256
serial = ${dir}/database/pivi-gen3-serial
policy = policy_match
email_in_dn = no
crl_extensions = crl_ext
string_mask = nombstr

[ policy_match ]
C = match
O = optional
OU = optional
CN = optional
emailAddress = optional

[ crl_ext ]
authorityKeyIdentifier=keyid:always,issuer:always

[ req ]
prompt = yes
string_mask = nombstr
distinguished_name = req_distinguished_name
attributes = req_attributes
req_extensions = v3_req

[ req_distinguished_name ]
C = Country Name
C_default = US
O = Organization
O_default = U.S. Government 
OU = Organizational Unit
OU_default = ICAM Test Cards
CN = Common Name
CN_default = JOHN QUINCY ADAMS III
emailAddress = E-Mail Address
emailAddress_default = icam.test.cards@gsa.gov

[ req_attributes ]

[ v3_req ]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash

[ ee_ext ]
authorityKeyIdentifier = keyid:issuer
subjectKeyIdentifier = hash
keyUsage = critical, keyEncipherment
authorityInfoAccess = caIssuers;URI:http://http.apl-test.cite.fpki-lab.gov/aia/certsIssuedToPIV-ISigningCA.p7c, OCSP;URI:http://ocsp-pivi.apl-test.cite.fpki-lab.gov
crlDistributionPoints = URI:http://http.apl-test.cite.fpki-lab.gov/crls/ICAMTestCardPIV-ISigningCA.crl
certificatePolicies=ia5org,2.16.840.1.101.3.2.1.48.250
subjectAltName = @subjectAltName_sect

[ subjectAltName_sect ]
#otherName = 2.16.840.1.101.3.6.6;FORMAT:HEX,OCT:D4:E7:39:DA:73:9C:ED:39:CE:73:9D:A1:68:58:28:AF:02:10:86:B9:84:E7:39:C3:FF
URI = urn:uuid:7781a388-c00a-45ba-9904-099f30da56ac
email = icam.test.cards@gsa.gov
